<h1>Contacts</h1> 

<ul>
	<% @all_contacts.each do |contact| %>
		<li>
			Name: <%= contact.name %>
			Adress: <%= contact.adress %>
			<% end %>
		</li>
</ul>

<% ('A'..'Z').each do |letter| %>
	<%= link_to letter, '/bar/' + letter %>
	<% end %>
